.card_backgroun{
    background-color: #E6ECF0;
}

.todo{
    font-size: 22px;
}

.button-group {
    display: flex;
    align-items: center;
  }
  .menu{
    font-size: 10px;
  }

  .TiAttachment {
    transform: rotate(135deg); 
    display: inline-block;
    vertical-align: middle; 
    font-size: 20px;
  }

  .MdOutlinedFlag{
    color: red;
  }
  .card-footer {
    background-color: transparent; 
  
  }

  .p_cardbody{
    font-size: 13px;
    

  }
  .card-head{
    font-weight:bold
  }

  .btn_color_card{
    background-color: #0013FE;
    height: 28px;
  padding: 5px 10px;
  }

  .btn_color_top{
    background-color: #e4e5e9;
    height: 28px;
  padding: 5px 10px;
  }
