.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px;
    margin-top: 60px; 
    margin-left: 260px; 
    color: rgba(0, 0, 0, 0.95); 
    background-color: #d4d8f1; 
}

.main-title {
    display: flex;
    justify-content: space-between;
}

.main-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 15px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 3px;
    background-color: #ebf1f3; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 200px;
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner > .card-icon {
    font-size: 25px;
}

.circle-icon1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 50px; 
    background-color: #db34d3;
    color: #fff; 
    border-radius: 50%; 
    margin-bottom: 10px;
}
.circle-icon2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 50px; 
    background-color: #af640d;
    color: #fff; 
    border-radius: 50%; 
    margin-bottom: 10px;
}
.circle-icon3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 50px; 
    background-color: #2b75c9;
    color: #fff; 
    border-radius: 50%; 
    margin-bottom: 10px;
}
.circle-icon4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 50px; 
    background-color: #d36913;
    color: #fff; 
    border-radius: 50%; 
    margin-bottom: 10px;
}

.circle-icon .icon {
    font-size: 30px;
}


.text-content {
    text-align: center; 
  }
  
  .text-content p,
  .text-content h2 {
    margin: 0;
  }

  .custom-tab-title {
    color: black !important;
  }
  .card-projectloadcard {
    padding: 20px;
  }
  
  .row-project {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .col-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    height: 250px;
    
  }
  
  .nameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
  
  .circlesContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-grow: 1;
  }
  
  .circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;

   
    border: 2px solid black; /* Black border */
  }
  
  .circle.top {
    background-color: #050505; 
  }
  
  .circle.top.red {
    background-color: red; 
  }
  
  .name {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  
  .workload-head{
    font-size: 20px;
    font-weight: bold;
  }
.h5-donut{
    font-family: sans-serif;
    color: gray;
    font-size: 15px;
}
h3{
  
    font-size: 20px;
    font-weight: bold;  
}
.doughnut{
    width: 50%;
  
}


@media screen and (max-width: 992px) {
    .main-container {
         
        margin-left: 0; 
        
    }
}
